.eckb-kb-template{
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
  height: 77.5vh;
}

#epkb-main-page-container.epkb-tabs-template{
  height: 102%;
}

#epkb-main-page-container.epkb-tabs-template .epkb-boxed{
  height: 100%;
}

#epkb-content-container{
  height: 100%;
}

.categories{
  background-color: #204a68 !important;
  height: 100%;
}

.subcategories{
  background-color: #e6e6e6 !important;
  height: 100%;
}

.content-faq{
  height: 100%;
}

.faq-layout{
  height: 72vh !important;
}

.eckb-kb-template{
  padding-top: 30px !important;
}

#epkb-main-page-container.epkb-tabs-template .epkb-boxed #epkb-content-container{
  display: inline-flex;
}

.epkb-top-categories-list{
  border-bottom: none !important;
}

.epkb-main-nav{
  width: 20% !important;
}

.epkb-panel-container{
  width: 30% !important;
  background-color: #e6e6e6;
}

.epkb-nav-tabs{
  margin-top: 40% !important;
}

#epkb-main-page-container.epkb-tabs-template .three-col section{
    width: 80% !important;
    border-color: #204a68 !important;
}

#epkb-main-page-container.epkb-tabs-template .section_divider{
  padding: 1em !important;
}

#epkb-main-page-container.epkb-tabs-template .epkb-tab-panel{
  margin-top: 0 !important;
}

#epkb-main-page-container.epkb-tabs-template .epkb-tab-panel section{
  margin: 0.5em 1% 1em !important;
}

#epkb-main-page-container.epkb-tabs-template .epkb-nav-tabs li .epkb-category-level-1{
  padding: 4% 1% 4% 1% !important;
}

#epkb-content-container .epkb-nav-tabs .active{
  background-color: #3F75A4!important;
  color:white !important;
}

.epkb-main-nav{
  background-color: #204A68!important;
}

.epkb_top_categories{
  background-color: #204A68!important;
}

.section-head{
  background-color: #204a68 !important;
  border-bottom-color: #204a68 !important;
}

.epkb-category-level-1{
  color:white !important;
}

.epkb-category-level-2-3 span{
  color:white !important;
  text-align: left !important;
}

.epkb-section-body{
  padding-top: 15px !important;
  padding-bottom: 0px !important;
}

#epkb-main-page-container.epkb-tabs-template #epkb-content-container{
  margin: 0 !important;
}

.epkb-doc-search-container{
  margin-bottom: 0 !important;
  background-color: #e6e6e6 !important;
}

.epkb-doc-search-container h2{
  display: none;
}

#epkb-main-page-container.epkb-tabs-template .epkb-doc-search-container{
  border-bottom: none;
}

.articles-container{
  height: 82%;
  overflow-y: scroll;
}

.faq-article{
  height: 100%;
  width: 50%;
}

#someFrame{
  width: 100%;
  height: 100%;
  padding-left: 3em;
  padding-right: 3em;
  overflow-y: scroll;
}

#epkb_search_results{
  position: absolute;
  margin-left: 2em;
  width: 23em;
}
