#masthead{
  height: 150px;
}

.entry-header{
  display: none;
}

.header-modulo{
  display: inline-flex;
  width: 100%;
  margin-top: 2em;
}

.logo-sac{
  width: 15%;
  height: 50px;
}

.header-links ul{
  display: inline-flex;
}

.header-links ul li{
  list-style-type: none;
}

.header-links ul li a{
  color: white;
  font-size: 1.3em;
  padding: 0px 40px 0px 40px;
  text-decoration: none;
}

.bg{
  width: 100%;
  position: absolute;
  z-index: -20;
  background-color: rgba(0,0,0,0.9);
  overflow: hidden;
}

.bg img{
  width: 115%;
}
